SERVER_PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:5432/bank_service?sslmode=disable
JWT_SECRET=change_me_super_secret_key
CARD_PGP_KEY=change_me_card_pgp_key
CARD_HMAC_SECRET=change_me_card_hmac_secret
CBR_URL=https://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx

SMTP_ENABLED=true
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=noreply@example.com
SMTP_PASSWORD=change_me
SMTP_FROM=noreply@example.com